BODY { COLOR: #FFFFFF;
background-color:#282c34;
margin-left:2px;
padding-left:10px;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
        background-color: #282c34;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* unvisited link */
  a:link {
      color: #d9ff19;
  }

  /* visited link */
  a:visited {
      color: #ffb000;
  }

  /* mouse over link */
  a:hover {
      color: ##d9ff19;
  }

  /* selected link */
  a:active {
      color: #ffffff;
}
